
  <div class="panel panel-red"> 
    <!-- Panel heading -->
     <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseOne-alt2">
            Stats page
          </a>
        </h4>
     </div>
     <div>
        <!-- Panel body -->
        <div class="panel-body">


            <%= @current_visit.friendly_time %>
    
        </div>
     </div>
  </div>