<h4>Collapse Style #3</h4>
<p>Completely based on Twitter bootstrap. Use <code>panel-XXX</code> (Replace XXX with color name) class for Color backgrounds.</p>
<hr />

<%= link_to "Reset", "/relationships/reset", method: :delete, class: "btn btn" %>
<!-- <a href="#" class="btn btn-danger">reset</a> -->
<!-- Accordion starts -->
<div class="panel-group" id="accordion-alt2">
 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
  <div class="panel panel-red"> 
    <!-- Panel heading -->
     <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseOne-alt2">
             List of all Websites
          </a>
        </h4>
     </div>
     <div id="collapseOne-alt2" class="panel-collapse collapse in">
        <!-- Panel body -->
        <div class="panel-body">
        <table style="width:100%">
          <thead>
          <style>
          table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
          }
          th, td {
              padding: 15px;
          }
          </style>
            <tr>  
              <th>
                List of all of user's websites 
              </th>

              <th>
                Total Time 
              </th>

            </tr>
          </thead>

        <tbody>

            <% @relationships.each do |relationship| %>
                <tr>
                <% if relationship.website && relationship.friendly_time != "00:00:00" %>
                  <td><%= link_to relationship.website.website_url, "/visits/#{relationship.id}" %></td>
                  <td><%= link_to relationship.friendly_time, "/relationships/#{relationship.id}" %></td>
                <% end %>
                </tr>
            <% end %>

        </tbody>
        </table>
        </div>
     </div>
  </div>
  <div class="panel panel-lblue">
     <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseTwo-alt2">
             Website Productivity Breakdown
          </a>
        </h4>
     </div>
     <div id="collapseTwo-alt2" class="panel-collapse collapse">
        <div class="panel-body">
      <!--     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. -->
        </div>

        <div  id="container">  </div>

<div class="panel-group accordion-alt3" id="accordion-alt3">
           <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
            <div class="panel"> 
            <!-- Panel heading -->
             <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3" aria-expanded="false" class="collapsed">
                <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #1
                </a>
              </h4>
             </div>
             <div id="collapseOne-alt3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <!-- Panel body -->
              <div class="panel-body">
          <!--       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. -->
              </div>
             </div>
            </div>
            <div class="panel">
             <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3" class="collapsed" aria-expanded="false">
                <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #2
                </a>
              </h4>
             </div>
             <div id="collapseTwo-alt3" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
             </div>
            </div>
            <div class="panel">
             <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3" class="collapsed" aria-expanded="false">
                <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #3
                </a>
              </h4>
             </div>
             <div id="collapseThree-alt3" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
             </div>
            </div>
            <div class="panel">
             <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3" class="collapsed" aria-expanded="false">
                <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #4
                </a>
              </h4>
             </div>
             <div id="collapseFour-alt3" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
             </div>
            </div>
            <div class="panel">
             <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFive-alt3" class="collapsed" aria-expanded="false">
                <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #5
                </a>
              </h4>
             </div>
             <div id="collapseFive-alt3" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
             </div>
            </div>
          </div>
     </div>
  </div>
  <div class="panel panel-green">
     <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseThree-alt2">
             Collapsible Group Item #3
          </a>
        </h4>
     </div>
     <div id="collapseThree-alt2" class="panel-collapse collapse">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
     </div>
  </div>
</div>
<!-- Accordion ends -->

<hr />

<div ng-app="app">
  <div ng-controller="relationshipsCtrl" ng-init="setup()">



  </div>
</div>

<script type="text/javascript">;
if (navigator.appName == "Microsoft Internet Explorer") {
$(window).load(function () { 
$(window).load(function () {
self.location.reload (true);
});
});
} else {
window.addEventListener('load', function () {
self.name = '_refreshed_';
window.addEventListener('pageshow', function () {
if (self.name != '_refreshed_') {
self.location.reload(true);
}
}, false);
window.addEventListener('pagehide', function () {
self.name = '';
}, false);
window.addEventListener('focus', function () {
if (self.name != '_refreshed_') {
self.location.reload(true);
}
self.name = '';
}, false);
window.addEventListener('blur', function () {
self.name = '';
}, false);
}, false);
}
</script>

        



