<script>
  window.user_id = <%=current_user.id%>
</script>

<hr />

<%= link_to "Reset", "/relationships/reset", method: :delete, class: "btn btn" %>
<!-- <a href="#" class="btn btn-danger">reset</a> -->
<!-- Accordion starts -->
<div class="panel-group" id="accordion-alt2">
 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
 <div class="panel panel-red">
    <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse"  href="#collapseTwo-alt2" >
            Website Productivity Breakdown
         </a>
       </h4>
    </div>
    <div id="collapseTwo-alt2" class="panel-collapse collapse in">
       <div id="container">  </div>
    </div>
 </div> 
<div class="panel panel-lblue"> 
    <!-- Panel heading -->
     <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  href="#collapseOne-alt2">
             List of all Websites
          </a>
        </h4>
     </div>
     <div id="collapseOne-alt2" class="panel-collapse collapse in">
        <!-- Panel body -->
        <div class="panel-body">
        <table style="width:100%">
          <thead>
          <style>
          table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
          }
          th, td {
              padding: 15px;
          }
          </style>
            <tr>  
              <th>
                List of all of user's websites 
              </th>

              <th>
                Total Time 
              </th>

            </tr>
          </thead>

        <tbody>

            <% @relationships.each do |relationship| %>
                <tr>
                <% if relationship.website && relationship.friendly_time != "00:00:00" %>
                  <td><%= link_to relationship.website.website_url, "/visits/#{relationship.id}" %></td>
                  <td><%= link_to relationship.friendly_time, "/relationships/#{relationship.id}" %></td>
                <% end %>
                </tr>
            <% end %>

        </tbody>
        </table>
        </div>
     </div>
  </div>
  

  
</div>
<!-- Accordion ends -->

<hr />

<div ng-app="app">
  <div ng-controller="relationshipsCtrl" ng-init="setup()">



  </div>
</div>
<!-- 
<script type="text/javascript">;
if (navigator.appName == "Microsoft Internet Explorer") {
$(window).load(function () { 
$(window).load(function () {
self.location.reload (true);
});
});
} else {
window.addEventListener('load', function () {
self.name = '_refreshed_';
window.addEventListener('pageshow', function () {
if (self.name != '_refreshed_') {
self.location.reload(true);
}
}, false);
window.addEventListener('pagehide', function () {
self.name = '';
}, false);
window.addEventListener('focus', function () {
if (self.name != '_refreshed_') {
self.location.reload(true);
}
self.name = '';
}, false);
window.addEventListener('blur', function () {
self.name = '';
}, false);
}, false);
}
</script>
 -->
        



