<h1>This is the page the user sees after inputing websites OR after user signs in </h1>
<h3>* List all websites--website url not showing up in database when there are multiple form_tags and text_field_tags. works with one form tag only</h3>
<h3>* Assign whether website is productive or not</h3>
<h3>* Toggle timer ON and OFF </h3>
<h3>* "Delete" link </h3>

<!-- <h1> <a href="/relationships/new">Add Another Website</a></h1> -->
<h2> <%= link_to "Add Another Website", "/relationships/new", method: :get %></h2>

<h1>List of all of user's websites</h1>
<% @websites.each do |website| %>
    <h3><%= link_to website.website_url, "/relationships/#{website.relationship.id}" %></h3>
<% end %>








