<h1>This is the page where you would see the each individual website's info</h1>

<h1> Productive</h1>





<h1> "ADD MORE LINKS" BUTTON </h1> 

<h3> <%= link_to "Go To Tracker", "/visits/new"%> </h3>